nav {
    margin-bottom: 36px;
}

.backgroundImage {
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
}

.bannerSection h1 {
    margin-top: 32px;
    font-size: 48px;
    font-weight: bolder;
}

.bannerSection p {
    max-width: 850px;
    margin-top: 24px;
    color: #0D1321;
    line-height: 26px;
}

.bannerSection button {
    margin-top: 32px;
}

.bannerSection {
    padding: 45px 0;
}

.cardSection {
    margin-bottom: 100px;
}

.Htmlcard {
    background-color: #FF4C1E10;
    padding: 40px;
    border-radius: 16px;
}

.CSScard {
    background-color: #004CE810;
    padding: 40px;
    border-radius: 16px;
}

.JScard {
    background-color: #FFDF0010;
    padding: 40px;
    border-radius: 16px;
}

.cardHTML {
    margin-top: 24px;
    font-size: 24px;
    color: black;
    font-weight: bold;
    margin-bottom: 8px;
}

.cardp {
    margin-bottom: 24px;
}

.Htmlankor {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.heder-Text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}

.heder-Text h3 {
    font-size: 32px;
    font-weight: bolder;
}

.heder-Text p {
    max-width: 850px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.YouTube-Video {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    margin-bottom: 150px;
}

.YouTube-Video iframe {
    border-radius: 16px;
    padding: 32px;
    border: 1px solid #0D132120;
}

.support-container {
    margin-top: 50px;
    color: white;
    background: url(../assets/handshake.png);
    border-radius: 16px;
    padding: 65px 48px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.support-container h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
}

.support-container p {
    max-width: 600px;
    opacity: 70%;
    font-weight: 200;
}

.support-container input footer {
    margin-top: 80px;
    padding: 40px 0;
    background-color: #0D132110;
}

.text-input {
    outline: none;
    border: none;
    padding: 20px;
    width: 550px;
    border-radius: 8px;
}

.submit-input {
    outline: none;
    border: none;
    padding: 20px 25px;
    font-weight: bold;
    border-radius: 8px;
}

.Target-card {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 40px;
    border-radius: 16px;
    /* background-color: aqua; */
    margin-bottom: 24px;
    border: 1px solid #0D132115;
}

.Target-card h1 {
    font-size: 24px;
    font-weight: 700;
}

.Target-card a {
    color: black;
    font-weight: bold;
}

footer {
    margin-top: 80px;
    padding: 40px 0;
    background-color: #0D132105;
}



.footer-text {
    font-size: 20px;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .YouTube-Video iframe {
        width: 1070px;
        height: 550px
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
}